@use '../../styles/variables' as *;

.auth-page {
  min-height: calc(100vh - #{$navbar-height});
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-lg;
  background-color: $color-background;
}
