body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2f4858;
    padding: 0 2rem;
    height: 3rem; 
    color: #d2fae0;
    padding: 1.5rem;
}

.navbar {
    display: flex;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    color: #d2fae0;
}

.logo {
    border-radius: 50%;
    margin-right: 10px;
}

.list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links {
    margin-right: 2rem;
    text-decoration: none;
    color: #d2fae0;
    transition: color 0.3s ease;
}

.nav-links:hover {
    color: #a8d8b9;
}

.container {
    display: flex;
    height: calc(100vh - 4rem);
}
.sidebar {
    width: 13%;
    background-color: #a8d8b9;
    color: black;
    border-right: 1px solid #659e9a;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-y: auto;
}

.sidebar-title {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
}

.btn {
    background-color: transparent;
    border: none;

    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 1rem;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    color:#446862;
    font-size: large;
    
}

.btn:hover {
    color: white;
    background-color: #527d76;
    transform: scale(1.03);
}

.books {
    flex: 1; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: start;
    padding: 1rem;
    background-color: #e9f1de;
    overflow-y: auto;
}

.bookcard {
    padding: 7px;
    background-color: #d9eddf;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 15rem;
    text-align: center;
    margin: 1rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

}

.bookcard:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.book-img {
    width: 100%;
    height: 15rem;
    object-fit: contain;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.btn-brw {
    margin-top: 1rem;
    background-color: #a8d8b9;
    border: 1px solid #2f4858;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    color: #2f4858;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-brw:hover {
    background-color: #659e9a;
    color: #fff;
    transform: scale(1.03);
}


td,th{
    border: 1px solid black;
    margin-left: 800px;
}


.logo{
    border-radius: 50%;
    margin-right: 10px;
}

a:link{
    color: black;
    background-color: transparent;
    text-decoration: none;
}
.foot{
    border-top: 2rem,solid,#2f4858;
    background-color: #2f4858;
    color: #659e9a;
    text-align: center;
    padding: 0.8rem;
    height: 2rem;
}


.foot1{
    margin-top: 39.2rem;
    border-top: 2rem,solid,#2f4858;
    background-color: #2f4858;
    color: #659e9a;
    text-align: center;
    padding: 0.8rem;
    height: 2rem;
}
.foot2{
    margin-top: none;
    border-top: 2rem,solid,#2f4858;
    background-color: #2f4858;
    color: #659e9a;
    text-align: center;
    padding: 0.8rem;
    height: 2rem;
}
