body{
    margin: 0;
    padding: none;
}
.sidebar{
    border-right: 0.2rem solid black;
    padding: none;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-right:105rem;
    
     
}
.btn{
    border: none;
    padding: 1rem;
}

.navigation{
    display: flex;
    background-color: #A3C1AD;
    justify-content: space-between;
    
}
.navbar{
    justify-content: flex-start;
    color: black;
    font-weight: bold;
    text-decoration: none;

    padding: 1rem;
}
.list{
    display: flex;
    list-style-type: none;
}
.nav-links{
    margin-right: 1rem;
    text-decoration: none;
    /* color: black; */
}
.container{
    
}