@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-md;

  &--full {
    width: 100%;
  }

  &__label {
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
    color: $color-gray-700;
    margin-bottom: $spacing-xs;
  }

  &__required {
    color: $color-error;
    margin-left: 2px;
  }

  &__input {
    @include input-base;

    &--error {
      border-color: $color-error;

      &:focus {
        border-color: $color-error;
        box-shadow: 0 0 0 3px rgba($color-error, 0.2);
      }
    }
  }

  &__helper {
    font-size: $font-size-sm;
    color: $color-gray-600;
    margin-top: $spacing-xs;

    &--error {
      color: $color-error;
    }
  }
}
