@use '../../styles/variables' as *;

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-background;
  z-index: $z-index-modal;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $spacing-md;

  &--small {
    .loading__spinner {
      width: 24px;
      height: 24px;
      border-width: 2px;
    }
  }

  &--medium {
    .loading__spinner {
      width: 40px;
      height: 40px;
      border-width: 3px;
    }
  }

  &--large {
    .loading__spinner {
      width: 56px;
      height: 56px;
      border-width: 4px;
    }
  }

  &__spinner {
    border: 3px solid $color-gray-300;
    border-top-color: $color-accent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  &__text {
    color: $color-gray-600;
    font-size: $font-size-sm;
    margin: 0;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
