@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.home-page {
  display: flex;
  min-height: calc(100vh - #{$navbar-height});

  &__content {
    flex: 1;
    padding: $spacing-lg;
    background-color: $color-background;
    overflow-y: auto;
    @include custom-scrollbar;

    @include min-width($breakpoint-md) {
      padding: $spacing-xl;
    }
  }

  &__filter-title {
    color: $color-primary;
    margin-bottom: $spacing-lg;
    font-size: $font-size-xl;
  }
}
