@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.user-table-wrapper {
  overflow-x: auto;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  background-color: $color-white;
  border-radius: $border-radius;
  overflow: hidden;
  box-shadow: $shadow;

  th,
  td {
    padding: $spacing-md;
    text-align: left;
    border-bottom: 1px solid $color-gray-200;
  }

  th {
    background-color: $color-primary;
    color: $color-white;
    font-weight: $font-weight-semibold;
    white-space: nowrap;
  }

  tr:hover {
    background-color: $color-gray-100;
  }

  &__name {
    font-weight: $font-weight-medium;
  }

  &__status {
    display: inline-block;
    padding: $spacing-xs $spacing-sm;
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
    border-radius: $border-radius-sm;

    &--active {
      background-color: lighten($color-success, 40%);
      color: darken($color-success, 10%);
    }

    &--inactive {
      background-color: lighten($color-error, 40%);
      color: darken($color-error, 10%);
    }
  }
}
