@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.review-form {
  background-color: $color-white;
  border-radius: $border-radius;
  padding: $spacing-lg;
  border: 1px solid $color-gray-200;

  &--disabled {
    text-align: center;
    color: $color-gray-600;
  }

  &__title {
    margin: 0 0 $spacing-md;
    font-size: $font-size-lg;
    color: $color-primary;
  }

  &__error {
    background-color: lighten($color-error, 40%);
    color: darken($color-error, 10%);
    padding: $spacing-sm;
    border-radius: $border-radius-sm;
    margin-bottom: $spacing-md;
    font-size: $font-size-sm;
  }

  &__rating {
    margin-bottom: $spacing-md;

    label {
      display: block;
      font-weight: $font-weight-medium;
      margin-bottom: $spacing-sm;
      color: $color-gray-700;
    }
  }

  &__comment {
    margin-bottom: $spacing-md;
    position: relative;

    label {
      display: block;
      font-weight: $font-weight-medium;
      margin-bottom: $spacing-sm;
      color: $color-gray-700;
    }

    textarea {
      @include input-base;
      resize: vertical;
      min-height: 100px;
    }
  }

  &__count {
    position: absolute;
    right: $spacing-sm;
    bottom: $spacing-sm;
    font-size: $font-size-sm;
    color: $color-gray-500;
  }
}
